<div class="h-screen flex items-center justify-center">
    <form class="shadow-md rounded-md p-5 bg-white w-1/3" [formGroup]="form" (ngSubmit)="register()">
      <div class="py-4">
        <h1 class="font-bold py-2 text-center">
          Register
        </h1>
        <h6 class="text-slate-600 text-base text-center">
          Create your account
        </h6>
      </div>
  
      <!-- Full Name Input -->
      <div class="form-group w-full mb-4">
        <label for="fullName" class="block text-sm font-medium text-gray-700">Full Name</label>
        <input id="fullName" type="text" formControlName="fullName" class="form-control w-full p-2 border border-gray-300 rounded-md" placeholder="Enter your full name" />
        <mat-error *ngIf="form.get('fullName')?.hasError('required')">
          Full Name is required*
        </mat-error>
      </div>
  
      <!-- Email Input -->
      <div class="form-group w-full mb-4">
        <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
        <input id="email" type="email" formControlName="email" class="form-control w-full p-2 border border-gray-300 rounded-md" placeholder="Enter your email" />
        <mat-error *ngIf="form.get('email')?.hasError('required')">
          Email is required*
        </mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email')">
          Please enter a valid email
        </mat-error>
      </div>
  
      <!-- Password Input -->
      <div class="form-group w-full mb-4">
        <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
        <input id="password" type="{{ hide ? 'password' : 'text'}}" formControlName="password" class="form-control w-full p-2 border border-gray-300 rounded-md" placeholder="Enter your password" />
        <!-- <span (click)="hide = !hide" class="text-sm text-blue-600 cursor-pointer">{{ hide ? 'Show' : 'Hide' }}</span> -->
        <mat-error *ngIf="form.get('password')?.hasError('required')">
          Password is required*
        </mat-error>
      </div>
  
      <!-- Register Button -->
      <button type="submit" [disabled]="!form.valid" class="w-full py-2 bg-purple-700 text-white font-bold rounded-md">
        Register
      </button>
  
      <!-- Login Link -->
      <div class="my-5 text-center">
        <span class="text-slate-600">Already have an account?</span>
        <a class="text-purple-700" [routerLink]="['/login']">Login</a>
      </div>
    </form>
  </div>
  